<app-page-landing page="gallery"></app-page-landing>
<div class="my-20">
  <div class="container">
    <h2 class="title" reveal="b" data-text="ليه جاليري">ليه جاليري ؟</h2>
    <p textEffect class="text-xl text-neutral-700 font-medium text-center mx-auto max-w-4xl">
      نحن هنا لتوفير الدعم الصحي والطبي لأولئك الذين يعانون من الفقر والحاجة في مجتمعنا. نحن نؤمن بأن الرعاية الصحية
      الأساسية
      يجب أن تكون متاحة للجميع بغض النظر عن ظروفهم المالية. ومن أجل تحقيق هذا الهدف، نتخذ قرارًا جريئًا بتوجيه كامل
      الأرباح
      التي نحققها من بيع منتجاتنا نحو تمويل الخدمات الطبية والرعاية الصحية للفقراء.
    </p>
  </div>
</div>

<app-loading *ngIf="loading" heigth="h-24"></app-loading>
<div class="my-10">
  <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-y-10  gap-4 md:px-5 mt-40 container">
    <app-product reveal="b" [details]="product" *ngFor="let product of products"></app-product>
  </div>
  <app-pagination-btn class="mt-10 block" *ngIf="pagination.page * pagination.limit < pagination.total"
    [loading]="loading" [pagination]="pagination" (pageChange)="get($event)"></app-pagination-btn>
</div>