<div
  class="container overflow-hidden min-h-[calc(100vh_-_57px)] py-10 grid md:grid-cols-2 content-center gap-10 justify-between items-center  ">
  <div class="font-bold text-2xl md:text-3xl text-center leading-normal ">
    <h1 class="font-extrabold text-5xl md:text-7xl lg:text-8xl font-leigo bReveal" reveal="b">
      <span *ngFor="let letter of pages[page].name"
        class="hover:text-cyan-500 hover:duration-75 duration-1000">{{letter}}</span>
    </h1>
    <h2 reveal="b" [delay]="2" class="bReveal mt-3 font-leigo">Delengat Medical Committee</h2>
    <h2 reveal="b" [delay]="3" class="bReveal mt-4">{{pages[page].dis || 'لجنة الدلنجات الطبية'}}</h2>
  </div>
  <img reveal="l" class="mix-blend-darken lReveal" src="assets/main/{{pages[page].img}}.png" alt="">
</div>