.qty-btns {
  display: flex;
  button {
    @apply p-2 first:rounded-s-lg last:rounded-e-lg bg-neutral-100;
  }
  input {
    @apply px-2;
    webkit-appearance: textfield;
    appearance: textfield;
  }
}
