.login {
  .container {
    min-height: 100dvh;
    .signup-progress {
      @apply justify-between z-0  w-11/12 flex-row;
      &::after {
        content: "";
        @apply absolute top-0 h-full bg-cyan-400 duration-300 -z-10;
        width: var(--w);
      }
      > div {
        @apply cursor-pointer w-10 h-10 flex items-center justify-center border-2 duration-300 bg-zinc-50 rounded-full;
        &.active {
          @apply border-cyan-400 text-cyan-400 bg-white;
        }
        &.error {
          @apply bg-red-600 border-red-600 text-white;
        }
      }
    }
    > div {
      @apply w-full flex gap-16 justify-center items-center flex-col md:flex-row;
      .formImg {
        @apply w-11/12 max-w-md min-w-[300px] justify-center hidden md:flex;
        lord-icon {
          @apply w-72 h-72 md:scale-125;
        }
      }
      form {
        @apply md:w-11/12 w-full md:max-w-2xl min-w-[300px] flex relative flex-col min-h-[520px] justify-end;
        h2 {
          @apply font-bold uppercase my-4;
        }
        .toNextBtn {
          @apply flex items-center justify-center overflow-hidden relative w-full border border-transparent font-bold  px-5 py-4 rounded-2xl text-white duration-300 cursor-pointer;
          &::after {
            content: "";
            @apply origin-left absolute top-0 left-0 w-full h-full bg-cyan-500 duration-300 -z-10 scale-x-100;
          }
          &:hover {
            @apply border-cyan-400 text-cyan-500;
            &::after {
              @apply scale-x-0;
            }
            span {
              @apply border-cyan-500 border-t-transparent;
            }
          }
          span {
            @apply rounded-full w-6 block h-6 border border-t-transparent border-white animate-spin;
          }
        }
        > div {
          @apply absolute justify-start md:justify-center overflow-auto top-0 left-0 w-full duration-300 flex flex-col;
          height: 100%;
          &.hide {
            @apply opacity-0 -translate-x-full;
          }
        }
      }
    }
  }
}
.imgCropper {
  width: 100%;
  height: 300px;
}
