<div class="login">
  <div class="container relative flex flex-wrap-reverse gap-12 items-center justify-center py-14">
    <div *ngIf="formType == 'signup'" [style]="'--w:'+signupStep / 2 * 100+'%'"
      class="signup-progress h-1 bg-zinc-100 rounded-full justify-between absolute top-8 max-w-3xl">
      <div
        [ngClass]="{active:signupStep >= 0 ,error:signupErrors?.firstName||signupErrors?.lastName||signupErrors?.email||signupErrors?.password}"
        (click)="signupStep = 0">
        1
      </div>
      <div
        [ngClass]="{active:signupStep >= 1 ,error:signupErrors?.phone||signupErrors?.country||signupErrors?.city||signupErrors?.street||signupErrors?.governate}"
        (click)="signupStep = 1">
        2
      </div>
      <div [ngClass]="{active:signupStep >= 2 ,error:signupErrors?.gender||signupErrors?.accountType}"
        (click)="signupStep = 2">
        3
      </div>
    </div>
    <div class="overflow-hidden" *ngIf="formType == 'login'">
      <form [formGroup]="loginForm" (change)="saveData(loginForm.value)" (ngSubmit)="login(loginForm.value)">
        <div class="flex flex-col gap-4">
          <div class="px-4 my-5 capitalize font-bold text-zinc-600">
            <h2 class="text-4xl">تسجيل الدخول</h2>
          </div>
          <div class="formInput"
            [ngClass]="{active:loginForm.controls.email.valid,error:loginForm.controls.email.errors?.['required']&& loginForm.controls.email.touched}">
            <div>
              <input #email id="loginEmail" (focus)="changeFormStatus(false)" [autocomplete]="'off'"
                formControlName="email" type="email">
              <label [ngClass]="{active:loginForm.controls.email.value != ''}" for="loginEmail">البريد
                الالكترونى</label>
              <fa-icon [icon]="emailIcon"></fa-icon>
            </div>
            <p *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
              <span *ngIf="loginForm.controls.email.errors?.['required']">* هذا الحقل مطلوب</span>
              <span *ngIf="loginForm.controls.email.errors?.['email']">*بريد الكترونى غير صالح</span>
            </p>
          </div>
          <div class="formInput"
            [ngClass]="{active:loginForm.controls.password.valid,error:loginForm.controls.password.errors?.['required'] && loginForm.controls.password.touched}">
            <div>
              <input id="loginPassword" autocomplete="false" #password (focus)="changeFormStatus(false)"
                formControlName="password" [type]="type">
              <label [ngClass]="{active:loginForm.controls.password.value != ''}" for="loginPassword">
                كلمة المرور</label>
              <fa-icon [icon]="password.type == 'text'? eay : eayslash"
                (click)="password.type == 'text' ? password.type = 'password' : password.type = 'text'"></fa-icon>
              <!-- <fa-icon *ngIf="type =='text'" [icon]="eayslash" (click)="this.type = 'password'"></fa-icon> -->
            </div>
            <p *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
              <span *ngIf="loginForm.controls.password.errors?.['required']">* هذا الحقل مطلوب</span>
            </p>
          </div>
          <div class="flex justify-between ">
            <div class="formCheck">
              <input formControlName="rememberMe" type="checkbox" id="rememberMe" name="rememberMe">
              <label for="rememberMe">
                تذكرنى
              </label>
            </div>
            <button>نسيت كلمة المرور ؟</button>
          </div>
          <div class="formInput">
            <button class="toNextBtn" type="submit">
              <span *ngIf="loading.form"></span>
              <div *ngIf="!loading.form">تسجيل الدخول</div>
            </button>
            <p *ngIf="form.message" class="text-red-500 text-center py-3 overflow-hidden ">
              خطأ في البريد الالكترونى او كلمة المرور </p>
          </div>
        </div>
      </form>
      <app-svg-animated class="md:hidden absolute -z-50"></app-svg-animated>
      <div class="formImg">
        <lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
          src="assets/lottie/login.json"></lord-icon>
      </div>
    </div>










    <div class="overflow-hidden" *ngIf="formType == 'signup'">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div [ngClass]="{hide:signupStep != 0}">
          <div class="px-4 my-5 font-bold text-zinc-600">
            <h2 class="text-3xl">انشاء حساب جديد <span class="text-7xl text-cyan-400 leading-5">.</span></h2>
            <h6 class="text-zinc-400 font-medium">لديك حساب بالفعل ؟ <button
                class="duration-300 text-cyan-400 font-semibold" routerLink="/login">تسجيل الدخول</button>
            </h6>
          </div>
          <div class="grid sm:grid-cols-2 gap-4">
            <div class="formInput"
              [ngClass]="{active:signupForm.controls.firstNameAr.valid,error:signupForm.controls.firstNameAr.errors?.['required']&& signupForm.controls.firstNameAr.touched || signupErrors?.firstNameAr }">
              <div> <input id="firstNameAr" formControlName="firstNameAr" type="text"
                  (focus)="removeError('firstNameAr')">
                <label [ngClass]="{active:signupForm.controls.firstNameAr.value != ''}" for="firstNameAr">
                  الاسم الاول عربي
                </label>
                <fa-icon [icon]="contactIcon"></fa-icon>
              </div>
              <p
                *ngIf="signupForm.controls.firstNameAr.touched && signupForm.controls.firstNameAr.invalid || form.errors?.firstNameAr">
                <span *ngIf="signupForm.controls.firstNameAr.errors?.['required']">* هذا الحقل مطلوب</span>
                <span *ngIf="form.errors?.['name.first.ar']">{{form.errors?.['name.first.ar'].message}}</span>
              </p>
            </div>
            <div class="formInput"
              [ngClass]="{active:signupForm.controls.lastNameAr.valid,error:signupForm.controls.lastNameAr.errors?.['required']&& signupForm.controls.lastNameAr.touched || signupErrors?.lastNameAr }">
              <div> <input id="lastNameAr" formControlName="lastNameAr" type="text" (focus)="removeError('lastNameAr')">
                <label [ngClass]="{active:signupForm.controls.lastNameAr.value != ''}" for="lastNameAr">
                  الاسم الثانى عربي
                </label>
                <fa-icon [icon]="contactIcon"></fa-icon>
              </div>
              <p
                *ngIf="signupForm.controls.lastNameAr.touched && signupForm.controls.lastNameAr.invalid || form.errors?.lastNameAr">
                <span *ngIf="signupForm.controls.lastNameAr.errors?.['required']">* هذا الحقل مطلوب</span>
                <span *ngIf="form.errors?.['name.last.ar']">{{form.errors?.['name.last.ar'].message}}</span>
              </p>
            </div>
            <div class="formInput"
              [ngClass]="{active:signupForm.controls.firstNameEn.valid,error:signupForm.controls.firstNameEn.errors?.['required']&& signupForm.controls.firstNameEn.touched  || signupErrors?.firstNameEn}">
              <div> <input id="firstNameEn" formControlName="firstNameEn" type="text"
                  (focus)="removeError('firstNameEn')">
                <label [ngClass]="{active:signupForm.controls.firstNameEn.value != ''}" for="firstNameEn">
                  الاسم الاول انجليزى
                </label>
                <fa-icon [icon]="contactIcon"></fa-icon>
              </div>
              <p
                *ngIf="signupForm.controls.firstNameEn.touched && signupForm.controls.firstNameEn.invalid || form.errors?.firstNameEn">
                <span *ngIf="signupForm.controls.firstNameEn.errors?.['required']">* هذا الحقل مطلوب</span>
                <span *ngIf="form.errors?.['name.first.ar']">{{form.errors?.['name.first.ar'].message}}</span>
              </p>
            </div>
            <div class="formInput"
              [ngClass]="{active:signupForm.controls.lastNameEn.valid,error:signupForm.controls.lastNameEn.errors?.['required']&& signupForm.controls.lastNameEn.touched  || signupErrors?.lastNameEn}">
              <div> <input id="lastNameEn" formControlName="lastNameEn" type="text" (focus)="removeError('lastNameEn')">
                <label [ngClass]="{active:signupForm.controls.lastNameEn.value != ''}" for="lastNameEn">
                  الاسم الثانى انجليزى

                </label>
                <fa-icon [icon]="contactIcon"></fa-icon>
              </div>
              <p
                *ngIf="signupForm.controls.lastNameEn.touched && signupForm.controls.lastNameEn.invalid || form.errors?.lastNameEn">
                <span *ngIf="signupForm.controls.lastNameEn.errors?.['required']">* هذا الحقل مطلوب</span>
                <span *ngIf="form.errors?.['name.last.ar']">{{form.errors?.['name.last.ar'].message}}</span>
              </p>
            </div>
            <div class="formInput"
              [ngClass]="{active:signupForm.controls.email.valid && !signupEmailDublicated,error:signupForm.controls.email.invalid && signupForm.controls.email.touched || signupForm.controls.email.valid && signupEmailDublicated || signupErrors?.email}">
              <div> <input (blur)="checkEmail()" (focus)="signupEmailDublicated=false ;removeError('email')"
                  id="signupEmail" formControlName="email" type="email">
                <label [ngClass]="{active:signupForm.controls.email.value != ''}" for="signupEmail">
                  البريد الالكترونى
                </label>
                <fa-icon [icon]="emailIcon"></fa-icon>
              </div>
              <p *ngIf="signupForm.controls.email.touched && signupForm.controls.email.invalid || form.errors?.email">
                <span *ngIf="signupForm.controls.email.errors?.['required']">* هذا الحقل مطلوب</span>
                <span *ngIf="form.errors?.email">{{form.errors?.email.message}}</span>
              </p>
            </div>
            <div class="formInput"
              [ngClass]="{active:signupForm.controls.password.valid,error:signupForm.controls.password.invalid&& signupForm.controls.password.touched || signupErrors?.password}">
              <div> <input id="signupPassword" #password formControlName="password" type="password"
                  (focus)="removeError('password')">
                <label [ngClass]="{active:signupForm.controls.password.value != ''}" for="signupPassword">
                  كلمة المرور</label>
                <fa-icon [icon]="password.type == 'text'? eay : eayslash"
                  (click)="password.type == 'text' ? password.type = 'password' : password.type = 'text'"></fa-icon>
              </div>
              <p
                *ngIf="signupForm.controls.password.touched && signupForm.controls.password.invalid || form.errors?.password">
                <span *ngIf="signupForm.controls.password.errors?.['required']">* هذا الحقل مطلوب</span>
                <span *ngIf="form.errors?.password">{{form.errors?.password.message}}</span>
              </p>
            </div>
          </div>
          <div class="mt-5 flex form-btns gap-3">
            <div role="button" class="toNextBtn" (click)="signupStep = 1">
              التالى</div>
          </div>
        </div>
        <div class="grid gap-4" [ngClass]="{hide:signupStep != 1}">
          <div class="grid sm:grid-cols-2">

          </div>
          <div class="formInput">
            <span>اللجنة</span>
            <ng-select formControlName="committee" required>
              <ng-option *ngFor="let committee of committees" [value]="committee.id">{{committee.name}}</ng-option>
            </ng-select>
            <p
              *ngIf="signupForm.controls.committee.touched && signupForm.controls.committee.invalid || form.errors?.committee">
              <span *ngIf="signupForm.controls.committee.errors?.['required']">* هذا الحقل مطلوب</span>
              <span *ngIf="form.errors?.committee">{{form.errors?.committee.message}}</span>
            </p>
          </div>
          <div class="formInput mt-4">
            <span>القوافل الطبية</span>
            <ng-select t formControlName="consvoys" required [multiple]="true">
              <ng-option *ngFor="let consvoy of consvoys" [value]="consvoy.id">{{consvoy.name}}</ng-option>
            </ng-select>
            <p
              *ngIf="signupForm.controls.consvoys.touched && signupForm.controls.consvoys.invalid || form.errors?.consvoys">
              <span *ngIf="signupForm.controls.consvoys.errors?.['required']">* هذا الحقل مطلوب</span>
              <span *ngIf="form.errors?.consvoys">{{form.errors?.consvoys.message}}</span>
            </p>
          </div>
          <div class="mt-5 flex form-btns gap-3">
            <div role="button" class="toNextBtn" (click)="signupStep = 0 ">عودة
            </div>
            <div role="button" class="toNextBtn" (click)="signupStep = 2">
              التالى</div>
          </div>
        </div>
        <div class="grid sm:grid-cols-2" [ngClass]="{hide:signupStep!=2}">
          <div class="formInput"
            [ngClass]="{active:signupForm.controls.whatsapp.valid,error:signupForm.controls.whatsapp.invalid && signupForm.controls.whatsapp.touched || signupErrors?.whatsapp}">
            <div> <input dir="rtl" placeholder="اختياري" id="signupwhatsapp" formControlName="whatsapp" type="tel"
                (focus)="removeError('whatsapp')">
              <label [ngClass]="{active:signupForm.controls.whatsapp.value != ''}" for="signupwhatsapp">
                رقم الواتساب</label>
              <fa-icon [icon]="whatsappIcon"></fa-icon>
            </div>
          </div>
          <div class="formInput"
            [ngClass]="{active:signupForm.controls.facebook.valid,error:signupForm.controls.facebook.invalid && signupForm.controls.facebook.touched || signupErrors?.facebook}">
            <div> <input dir="rtl" placeholder="اختياري" id="signupfacebook" formControlName="facebook" type="tel"
                (focus)="removeError('facebook')">
              <label [ngClass]="{active:signupForm.controls.facebook.value != ''}" for="signupfacebook">
                رابط فيسبوك</label>
              <fa-icon [icon]="facebookIcon"></fa-icon>
            </div>
          </div>
          <div class="formInput"
            [ngClass]="{active:signupForm.controls.instagram.valid,error:signupForm.controls.instagram.invalid && signupForm.controls.instagram.touched || signupErrors?.instagram}">
            <div> <input dir="rtl" placeholder="اختياري" id="signupinstagram" formControlName="instagram" type="tel"
                (focus)="removeError('instagram')">
              <label [ngClass]="{active:signupForm.controls.instagram.value != ''}" for="signupinstagram">
                رابط انستجرام</label>
              <fa-icon [icon]="instagramIcon"></fa-icon>
            </div>
          </div>
          <div class="formInput"
            [ngClass]="{active:signupForm.controls.twitter.valid,error:signupForm.controls.twitter.invalid && signupForm.controls.twitter.touched || signupErrors?.twitter}">
            <div> <input dir="rtl" placeholder="اختياري" id="signuptwitter" formControlName="twitter" type="tel"
                (focus)="removeError('twitter')">
              <label [ngClass]="{active:signupForm.controls.twitter.value != ''}" for="signuptwitter">
                رابط تويتر</label>
              <fa-icon [icon]="twitterIcon"></fa-icon>
            </div>
          </div>

          <div class="mt-5 flex form-btns gap-3">
            <div role="button" class="toNextBtn" (click)="signupStep = 1 ">عودة
            </div>
            <div role="button" class="toNextBtn" (click)="signupStep = 3">
              التالى</div>
          </div>
        </div>
        <div [ngClass]="{hide:signupStep!=3}">
          <div class="flex justify-center gap-4 py-3 items-center">

            <div class="formRadio"
              [ngClass]="{active:signupForm.controls.gender.value == 'male' ,error: signupErrors?.gender}">
              <input hidden id="maleGneder" formControlName="gender" type="radio" name="gender" value="male">
              <label for="maleGneder" (click)="removeError('gender')">
                <fa-icon [icon]="male"></fa-icon>
                <span>male</span>
              </label>
            </div>
            <span class="font-bold text-zinc-600">OR</span>
            <div class="formRadio"
              [ngClass]="{active:signupForm.controls.gender.value == 'female' ,error: signupErrors?.gender}">
              <input hidden id="femaleGneder" formControlName="gender" type="radio" name="gender" value="female">
              <label for="femaleGneder" (click)="removeError('gender')">
                <fa-icon [icon]="female"></fa-icon>
                <span>female</span>
              </label>
            </div>
          </div>
          <div class="flex justify-center gap-4 py-3 items-center">
            <div class="formRadio"
              [ngClass]="{active:signupForm.controls.accountType.value == 'buyer' ,error: signupErrors?.accountType}">
              <input hidden id="buyerType" formControlName="accountType" type="radio" name="accountType" value="buyer">
              <label for="buyerType" (click)="removeError('accountType')">
                <fa-icon [icon]="buyer"></fa-icon>
                <span>buyer</span>
              </label>
            </div> <span class="font-bold text-zinc-600">OR</span>
            <div class="formRadio"
              [ngClass]="{active:signupForm.controls.accountType.value == 'seller',error: signupErrors?.accountType }">
              <input hidden id="sellerType" formControlName="accountType" type="radio" name="accountType"
                value="seller">
              <label for="sellerType" (click)="removeError('accountType')">
                <fa-icon [icon]="seller"></fa-icon>
                <span>Seller</span>
              </label>
            </div>
          </div>
          <div>
            <input id="userImg" #userImgInput type="file" accept=".png,.jpg" (change)="onFileChanged($event)">
            <label for="userImg">
              <fa-icon [icon]="camera"></fa-icon>

            </label>
            <div [ngClass]="{active:userImgBox}"
              class="cropperBox flex justify-center items-center fixed w-full h-screen top-0 left-0 bg-black bg-opacity-40 duration-300 -z-50 opacity-0">
              <span *ngIf="!userImgBoxReady"
                class="rounded-full w-6 block h-6 border border-t-transparent border-white animate-spin"></span>
              <div [ngClass]="{active:userImgBoxReady}"
                class="flex flex-wrap  gap-5 -z-10 opacity-0 duration-200 relative w-full max-w-2xl  bg-zinc-200">
                <image-cropper class="imgCropper" [imageChangedEvent]="userImg" [aspectRatio]="1/1"
                  [maintainAspectRatio]="true" format="png" (imageCropped)="cropImg($event)" (imageLoaded)="imgLoad()"
                  (cropperReady)="initCropper()" (loadImageFailed)="imgFaild()">

                </image-cropper>
                <div class="flex gap-5 flex-col justify-center">
                  <img class="w-20 h-20" [src]="userImgCropped" alt="">
                  <div class="flex gap-5">
                    <button (click)="userImgInput.click()"><fa-icon [icon]="change"></fa-icon>
                      <span>change</span></button>
                    <button (click)="this.userImgBox = false"><fa-icon [icon]="change"></fa-icon><span>
                        Save</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="mt-5 flex form-btns gap-3">
          <div role="button" *ngIf="signupStep > 0" class="toNextBtn" (click)="signupStep = signupStep - 1 ">Previous
          </div>
          <div role="button" *ngIf="signupStep < 2" class="toNextBtn" (click)="signupStep = signupStep + 1">
            Next</div>
          <button class="toNextBtn disabled:cursor-not-allowed" *ngIf="signupStep == 2" (click)="signup()"
            type="submit"><span *ngIf="startPost"></span>
            <div *ngIf="!startPost">signup</div>
          </button>
        </div> -->
      </form>
      <app-svg-animated class="md:hidden absolute -z-50"></app-svg-animated>
      <div class="formImg">
        <lord-icon colors="primary:#3f3f46,secondary:#fb923c" trigger="loop" delay="1500"
          src="assets/lottie/singup.json"></lord-icon>
      </div>
    </div>
  </div>
</div>