<div class="bg-zinc-900 text-white py-24 text-center ">
  <h1 class="text-4xl md:text-8xl my-10 font-bold tReveal" reveal="t" *ngIf="title">
    {{title}}
  </h1>
  <div class="flex justify-center items-center gap-2 bReveal" reveal="b">
    <button class="cursor-pointer text-lg uppercase duration-300 hover:text-cyan-300" routerLink=""><fa-icon
        [icon]="'home'"></fa-icon></button>
    <ng-container *ngFor="let rout of routes">
      <span> / </span>
      <button class="cursor-pointer text-lg uppercase duration-300 hover:text-cyan-300"
        [routerLink]="rout.rout ? [rout.rout]: []">{{rout.name}} </button>
    </ng-container>
  </div>
</div>