<div class="landing  relative">
  <div
    class="container min-h-[calc(100vh_-_57px)] py-10 grid md:grid-cols-2 content-center gap-10 justify-between items-center  ">
    <div>
      <div class="font-bold text-2xl md:text-3xl text-center leading-normal ">
        <h1 reveal="b" class="bReveal font-extrabold text-5xl md:text-7xl lg:text-8xl font-leigo">
          <span class="hover:text-cyan-500 hover:duration-75 duration-1000">D</span>
          <span class="hover:text-cyan-500 hover:duration-75 duration-1000">M</span>
          <span class="hover:text-cyan-500 hover:duration-75 duration-1000">C</span>
        </h1>
        <h2 reveal="b" [delay]="2" class="bReveal mt-3 font-leigo">Delengat Medical Committee</h2>
        <h2 reveal="b" [delay]="3" class="bReveal mt-4">لجنة الدلنجات الطبية</h2>
      </div>
    </div>
    <div class="relative landingImg lReveal" reveal="l">
      <img class="blur opacity-70" src="assets/main/heart.png" alt="heart image">
      <img class="blur opacity-70" src="assets/main/heart.png" alt="heart image">
      <img class="blur-sm opacity-90" src="assets/main/heart.png" alt="heart image">
      <img src="assets/main/heart.png" alt="heart image">
      <img class="landin-img" src="assets/main/landing.png" alt="">
    </div>
  </div>
</div>

<!-- numbers -->
<div class="py-24 section-bg  md:mt-20">
  <div class="flex justify-center flex-wrap gap-4  container">
    <div *ngFor="let number of numbers;let i=index" reveal="b" [delay]="i"
      class="w-[calc(25%_-_16px)] p-10 px-12 min-w-fit text-center grid grid-cols-2 justify-items-center items-center">
      <div class="p-4 rounded-full  row-span-2">
        <lord-icon src="assets/lottie/services/{{number.icon}}.json" trigger="loop" delay="2000"
          style="width:60px;height:60px">
        </lord-icon>
      </div>
      <span appIncrement="{{number.number}}" [max]="maxNumber"
        class="font-black text-5xl font-leigo w-20">{{number.number}}</span>
      <span class="block mt-4 text-2xl font-medium">{{number.name}}</span>
    </div>
  </div>
</div>

<div class="container my-20">
  <h2 class="title" reveal="b" data-text="من نحن">من نحن ؟</h2>
  <div class="grid gap-20 md:grid-cols-2 items-center mt-10">
    <img reveal="r" src="assets/main/who-dmc.png" alt="">
    <div class="flex-col gap-4 flex justify-center items-center text-center md:text-start md:items-start">
      <h3 class="text-5xl font-bold">نبذة عنا</h3>
      <p class="text-xl xl:text-2xl text-neutral-500" reveal="b"> فريق عمل تطوعي من طلاب الكليات الطبية بالدلنجات ومؤسسة
        غير ربحية هدفها
        نشر
        الوعي وتوفير
        الرعاية الصحية لغير القادرين
        بالتعاون مع خيرة أطباء الدلنجات وتنظيم بعض الأنشطة الإجتماعية كالندوات والمؤتمرات وحملات الكساء وغيرها من
        المشاريع
        الخيرية.</p>
      <button routerLink="/about" reveal="b" class="btn cyan min-w-40">المزيد</button>
    </div>
  </div>
</div>

<!-- services -->
<div class="py-40 section-bg bl">
  <div class="container">
    <h2 class="title" reveal="b" data-text="خدماتنا">خدماتنا</h2>
    <div class="flex justify-center flex-wrap py-20">
      <div *ngFor="let serv of services" reveal="b"
        class="text-neutral-500 md:basis-1/2 xl:basis-1/3 flex flex-col items-center text-center max-w-lg gap-4 p-10 ">
        <lord-icon src="assets/lottie/services/{{serv.icon}}.json" trigger="loop" delay="2000"
          style="width:100px;height:100px">
        </lord-icon>
        <span class="font-bold text-lg">{{serv.title}}</span>
        <p>{{serv.description}}</p>
        <button routerLink="{{serv.link}}" *ngIf="serv.link" class="hover:text-cyan-500 mt-auto">المزيد</button>
      </div>
    </div>
  </div>
</div>

<div class="my-40">
  <div class="container">
    <h2 class="title" reveal="b" data-text="الرعاية الصحية">الرعاية الصحية</h2>
    <p textEffect page="home" class="text-xl text-neutral-700 font-medium text-center mx-auto max-w-4xl">المشروع الثابت
      الذى لا
      يتاثر بتغير الوقت ولا المناسبات
      يتم صرف روشتات لعدد كبير من أهالينا الغير مقتدرين أصحاب الأمراض المزمنة ممن ليس لهم الحق في العلاج على نفقة
      الدولة
      بالإضافة إلى الروشتات المتكفل بها كاملة من أهل الخير
    </p>
  </div>
</div>

<div class="my-40">
  <div class="container">
    <h2 class="title" reveal="b" data-text="التبرع">التبرع</h2>
    <div class="flex gap-10 justify-center flex-wrap mt-10">
      <div *ngFor="let link of donations"
        class="relative donationBox bg-white duration-300 flex basis-full flex-col mx-10 md:mx-2 justify-center px-6 text-center p-4 rounded-xl  md:basis-1/2 lg:basis-1/3 xl:basis-1/4">
        <span class="text-neutral-400 text-xl">{{link.method}}</span>
        <span>{{link.project}}</span>
        <span>{{link.value}}</span>
        <fa-icon (click)="copy(link.value)" [icon]="'copy'"
          class="cursor-pointer absolute top-1/2 -translate-y-1/2 -end-5 w-10 h-9 bg-cyan-500 text-white leading-10 text-center"></fa-icon>
      </div>
    </div>
  </div>
</div>