<div>
  <div class="container flex flex-wrap flex-col md:flex-row gap-5 justify-between items-center landing">
    <div class="md:w1/2 font-bold text-3xl text-center leading-normal">
      <h1 class="font-extrabold text-5xl">DMC</h1>
      <h2 class="mt-3">Delengat Medical Committee</h2>
      <h2>لجنة الدلنجات الطبية</h2>
    </div>
    <div class="md:w1/2">
      <img src="assets/main/landing-home.png" alt="">
    </div>
  </div>
</div>
<p style="height: 900vh;">home works!</p>
<div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2   gap-4 md:px-5 mt-10">
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
  <app-card></app-card>
</div>