<app-page-landing page="about"></app-page-landing>

<h2 class="title" reveal="b" data-text="عن الفريق">من نحن</h2>
<p textEffect reveal="b" class="text-xl text-neutral-700 font-medium text-center mx-auto max-w-4xl">
  فريق عمل تطوعي من طلاب الكليات الطبية بالدلنجات ومؤسسة غير ربحية هدفها نشر الوعي وتوفير الرعاية الصحية لغير القادرين
  بالتعاون مع خيرة أطباء الدلنجات وتنظيم بعض الأنشطة الإجتماعية كالندوات والمؤتمرات وحملات الكساء وغيرها من المشاريع
  الخيرية.
</p>
<div class="container my-40">
  <h2 class="title" reveal="b" data-text="سياستنا">سياستنا</h2>
  <swiper-container dir="ltr" effect="fade" autoplay-delay="5000" loop="true">
    <swiper-slide class="" *ngFor="let policy of policies">
      <div class="text-center">
        <img class="w-36 mx-auto" reveal="r" src="assets/main/policy.png" alt="">

        <p class="text-neutral-500 text-lg max-w-2xl mx-auto mt-3 opacity-0 translate-y-5 duration-500">
          {{policy}}</p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
<div class="container my-40">
  <h2 class="title" reveal="b" data-text="ابطال الفريق">الاعضاء</h2>
  <div class="flex flex-wrap justify-center md:px-5">
    <app-card class="basis-full md:basis-1/2 lg:basis-1/3 xl:basis-1/4 scale-90" [user]="member"
      *ngFor="let member of members"></app-card>
  </div>
  <app-pagination-btn class="my-10 block" *ngIf="pagination.page * pagination.limit < pagination.total"
    [loading]="loading" [pagination]="pagination" (pageChange)="get($event)"></app-pagination-btn>
</div>