@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
  font-family: "ElMessiri";
  src: url("assets/fonts/ElMessiri-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElMessiri";
  src: url("assets/fonts/ElMessiri-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ElMessiri";
  src: url("assets/fonts/ElMessiri-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ElMessiri";
  src: url("assets/fonts/ElMessiri-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ElMessiri";
  src: url("assets/fonts/ElMessiri-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "leigo";
  src: url("assets/fonts/leigo.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ElMessiri";
  src: url("assets/fonts/ElMessiri-Bold.ttf");
  font-weight: 900;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
    --header-height: 70px;
    body {
      overflow-x: hidden;
      font-family: "ElMessiri";
      @apply bg-neutral-50;
      input:-internal-autofill-selected {
        appearance: unset !important;
        color: unset !important;
        background-color: transparent !important;
      }
      input {
        @apply bg-transparent;
        &:focus {
          @apply outline-none;
        }
      }
    }
    ::selection {
      @apply bg-cyan-500 text-white;
    }
    * {
      &::-webkit-scrollbar {
        @apply bg-transparent w-2;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-cyan-500 rounded-lg hover:bg-cyan-300 active:bg-cyan-800 duration-300;
      }
    }
  }
}
@layer utilities {
  .container {
    @apply mx-auto px-2;
    // @media (min-width: 768px) {
    //   max-width: 1200px;
    // }
  }
  .dark {
    .bg-white {
      @apply dark:bg-neutral-950;
    }
    .text-neutral-800 {
      @apply text-neutral-50;
    }
  }
}
@layer components {
  .section-bg {
    background: url(assets/main/section-bg.svg) no-repeat;
    // background-position: bottom left;
    &.tr {
      background-position: top right !important;
    }
    &.tl {
      background-position: top left !important;
    }
    &.br {
      background-position: bottom right !important;
    }
    &.bl {
      background-position: bottom left !important;
    }
  }

  .title {
    @apply py-10 text-3xl xl:text-5xl text-center font-bold relative;
    &::after {
      content: attr(data-text);
      font-size: 80px;
      font-weight: bolder;
      z-index: -1;
      position: absolute;
      opacity: 0.04;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 0%;
      width: 100%;
    }
  }
  .btn {
    @apply outline-0 border hover:bg-neutral-50 active:bg-neutral-100 border-neutral-200 bg-white flex justify-center items-center gap-4 duration-300 rounded-xl;
    img {
      width: 24px;
    }
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
    padding: 8px 16px;
    user-select: none;
    svg {
      @apply duration-300 stroke-neutral-900;
    }
    &.nostroke {
      svg {
        stroke: none;
      }
    }
    &:disabled {
      @apply bg-neutral-300    text-neutral-300   border-neutral-300 cursor-not-allowed;
    }

    &.icon {
      padding: 8px;
    }
    &.block {
      display: flex !important;
      width: 100%;
      text-align: center;
    }
    &.link {
      border-color: transparent;
      box-shadow: unset;
      &:hover {
        @apply bg-neutral-50;
      }
      &:active {
        @apply bg-neutral-100;
      }
    }
    &.rounded {
      border-radius: 100% !important;
      padding: 4px !important;
    }
    &.cyan {
      @apply bg-cyan-500 border-cyan-500 text-white;

      svg {
        @apply stroke-white;
      }
      &:hover {
        @apply bg-cyan-700 border-cyan-700;
      }
      &:active {
        @apply bg-cyan-900 border-cyan-900;
      }
      &.link {
        background: transparent;
        border: 1px solid transparent;
        @apply text-cyan-500;
        svg {
          @apply stroke-cyan-500;
        }
        &:hover {
          @apply bg-cyan-50 border-cyan-50;
        }
        &:active {
          @apply bg-cyan-100 border-cyan-100;
        }
      }
      &.outline {
        svg {
          @apply stroke-cyan-500;
        }
        @apply text-cyan-500 border-cyan-50 bg-white hover:bg-cyan-50 active:text-white active:bg-cyan-300;

        &:active {
          svg {
            stroke: #fff;
          }
        }
      }
    }
    &.red {
      @apply bg-red-500 border-red-500 text-white;

      svg {
        @apply stroke-white;
      }
      &:hover {
        @apply bg-red-700 border-red-700;
      }
      &:active {
        @apply bg-red-900 border-red-900;
      }
      &.link {
        background: transparent;
        border: 1px solid transparent;
        @apply text-red-500;
        svg {
          @apply stroke-red-500;
        }
        &:hover {
          @apply bg-red-50 border-red-50;
        }
        &:active {
          @apply bg-red-100 border-red-100;
        }
      }
      &.outline {
        svg {
          @apply stroke-red-500;
        }
        @apply text-red-500 border-red-50 bg-white hover:bg-red-50 active:text-white active:bg-red-300;

        &:active {
          svg {
            stroke: #fff;
          }
        }
      }
    }
  }

  .checkBoxLable {
    @apply flex gap-2 items-center cursor-pointer select-none;
    > div {
      @apply w-4 border h-4 rounded-sm;
      > div {
        @apply h-full w-full scale-0 duration-150 rounded-sm bg-cyan-500;
      }
    }
    &.active {
      > div {
        > div {
          --tw-scale-x: 0.8;
          --tw-scale-y: 0.8;
        }
      }
    }
  }
  // .side-title {
  //   @apply font-bold text-lg pb-5 capitalize;
  // }
  .formInput {
    > div {
      @apply flex items-center relative;
      input {
        outline: none !important;
        @apply accent-cyan-400 w-full border border-transparent font-bold bg-zinc-50 px-5 py-4 pt-6 rounded-2xl duration-300;
        &:focus {
          @apply bg-transparent border-cyan-400;
          & + label {
            @apply text-xs top-2;
          }
        }
        &:-webkit-autofill {
          @apply font-bold;
          --tw-bg-opacity: 1;
          -webkit-box-shadow: 0 0 0 1000px
            rgb(250 250 250 / var(--tw-bg-opacity)) inset;
          & + label {
            @apply text-xs top-2;
          }
        }
      }
      label {
        @apply absolute right-5 top-6 duration-300;
        &.active {
          @apply top-2 text-xs;
        }
      }
      fa-icon {
        @apply text-zinc-500 duration-300 text-sm cursor-pointer absolute left-2;
        @media (min-width: 400px) {
          @apply left-4;
        }
        @media (min-width: 500px) {
          @apply left-5  text-xl;
        }
      }
    }
    > p {
      @apply px-4 py-1 text-xs text-red-500 h-6 overflow-hidden;
      // span {
      //   @apply translate-y-6 opacity-0 duration-300  block;
      // }
    }
    &.active {
      label {
        @apply text-cyan-500;
      }
      fa-icon {
        @apply text-cyan-500;
      }
    }
    &.error {
      > div {
        label {
          @apply text-red-500;
        }
        fa-icon {
          @apply text-red-500;
        }
      }
      // p {
      //   // span {
      //   //   @apply translate-y-0 opacity-100;
      //   // }
      // }
    }
  }
  .formRadio {
    label {
      @apply capitalize duration-300 rounded-2xl flex justify-center items-center w-fit w-24 md:w-28 py-4 bg-zinc-50 flex-col gap-3 border border-transparent;
      fa-icon {
        @apply duration-300 text-4xl text-zinc-600;
      }
    }
    p {
      @apply px-4 py-1 text-xs text-red-500 h-6 overflow-hidden;
      span {
        @apply translate-y-6 opacity-0 duration-300 capitalize block;
      }
    }
    &.active {
      label {
        @apply shadow-lg border-cyan-400 bg-transparent;
        fa-icon {
          @apply text-cyan-400;
        }
      }
    }
    &.error {
      label {
        @apply border-red-400;
        fa-icon {
          @apply text-red-400;
        }
      }
      p {
        span {
          @apply translate-y-0 opacity-100;
        }
      }
    }
  }
  .formNumber {
    appearance: unset;
    @extend .formInput;
  }
  .formCheck {
    display: flex;
    align-items: center;
    gap: 8px;
    input[type="checkbox"] {
      all: unset;
      display: inline-block;
      width: 16px;
      aspect-ratio: 1 / 1;
      border: 1px solid #a3a3a3;
      border-radius: 4px;
    }
    input[type="checkbox"]:checked {
      border-color: transparent;
      @apply bg-cyan-500;
    }
  }
}
// select new style
.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: unset !important;
}
.ng-select-container {
  padding: 4px;
  border-radius: 12px !important;
  border-color: transparent !important;
  background-color: rgb(250 250 250 / 1) !important;
  min-height: 60px !important ;
  .ng-input {
    min-height: 46px;
  }
}
.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding: 2px;
  display: flex;
  gap: 4px;
  .ng-value {
    margin: 0 !important;
    border-radius: 8px !important;
    overflow: hidden;
  }
}
.ng-dropdown-panel {
  border-radius: 12px;
  overflow: hidden;
}
// toaster new style
.ngx-toastr {
  box-shadow: 0px 0px 10px #8a8a8a !important;
  border-radius: 0.75rem /* 12px */ !important;
  background-color: rgb(6 182 212 / var(--tw-bg-opacity)) !important;
  &:hover {
    box-shadow: 0px 0px 10px #838383 !important;
  }
}

// scroll animation
// .rReveal,
// .lReveal,
// .tReveal,
// .bReveal {
//   opacity: 0;
//   transition: var(--long-duration, 0.5s);
// }

// .rReveal {
//   transform: translateX(70px) translateY(0px);
// }

// .lReveal {
//   transform: translateX(-70px) translateY(0px);
// }

// .tReveal {
//   transform: translateY(-70px) translateX(0px);
// }

// .bReveal {
//   transform: translateY(70px) translateX(0px);
// }

// .reveal {
//   transform: translateX(0px) translateY(0px);
//   opacity: 1;
// }
